<!-- Page content holder -->
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menú</small></button>
  
  <p id="notice"><%= notice %></p>

  <h1>Mis Tweets</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tweets.each do |tweet| %>
        <tr>
          <td scope="row text-black"><%= tweet.content.html_safe %></td>
          <td scope="row"><%= link_to 'Show', tweet, class: "text-white" %></td> 
          <td scope="row"><%= link_to 'Edit', edit_tweet_path(tweet), class: "text-white" %></td> 
          <td scope="row"><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-white" %></td>    
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Tweet', new_tweet_path, class: "btn btn-warning text-black" %>

</div>  
