 <div class="col-12 p-3 mt-2 card card-style-index">
    <div class="row card-body">   

        <div class="col-2 pt-2">
            <div class="photo-profile col-3 d-inline">
                <%= image_tag (tweet.user.photo_url), :class => "avatar-in-tweet rounded-circle img-thumbnail" %>
                <% if user_signed_in? && current_user != tweet.user %>
                    <%= link_to current_user.is_following?(tweet.user) ? 
                    "Dejar de seguir" : "Seguir", 
                    users_follow_path(tweet.user.id), 
                    class: "btn-follow",
                    method: :post %>
                <% end %>
            </div>
        </div>   
        <div class="col-10">
            <div class="index-rt-icontext">
                <% if tweet.is_retweet? %>
                    <%= link_to '<i class="fas fa-retweet text-muted"></i>'.html_safe %>
                    <%= link_to "Has retwitteado..", tweet.tweet_ref %>   
            <% end %>
            </div> 
            <span class="index-username"><%= tweet.user.username %> </span><br>
            <span class=""><%= link_to '<i class="far fa-calendar-alt fa-sm"></i> '.html_safe+distance_of_time_in_words(Time.now, tweet.created_at), tweet %> </span><br>
            <span class="index-content card-text"><%= tweet.content.html_safe %></span>     
        </div>   
    </div>
    
    <div class=" col-12">
        <div class="float-right text-right">
            <span>
                <%= tweet.likes.count %>       
                    <%= link_to ('<i class="'+tweet.like_icon(current_user) +' text-danger fa-sm"></i>').html_safe, tweet_likes_path(tweet), method: :post %>              
            </span>   
                |         
            <span>
                <%= tweet.count_rt %>  
                <%= link_to ('<i class="fas fa-retweet '+tweet.retweet_icon+'"></i>').html_safe, tweet_retweet_path(tweet), method: :post %>                                             
            </span>    
        </div>
    </div>      
</div>             


