
<div class="row">

    <% if user_signed_in?%>
        <div class="col-12">
            <%= render 'tweets/form', tweet: @tweet %>
        </div>
    <% end %>

    <% @tweets.each do |tweet| %>
        <div class="col-12 border border-info p-3 mt-2">
            <%= image_tag (tweet.user.photo_url), :class => "avatar-in-tweet rounded" %>
            <%= tweet.content %>
            <hr/>
            <div class="float-right">
                <%= tweet.likes.count %> likes | 0 re-tweets
            </div>

        </div >

    <% end %>
   
</div >

<div class="row mt-2">
    <%= paginate @tweets %>
     <%#= link_to_next_page @tweets, "Mostrar más"%>
</div >
